.company-logo{  
  background-image: url("/Assets/Themes/IOport/Images/Logo-IOport.svg");
  background-position: center;
  background-size: 113px;
  background-repeat: no-repeat;
  width: 113px;
  height: 48px;
  position: relative;  
}
.company-logo-i{  
  background-image: url("/Assets/Themes/IOport/Images/Logo-IOport-I.svg");
  background-position: center;
  background-size: 28px;
  background-repeat: no-repeat;
  padding-top: 16px;
  width: 28px;
  height: 48px;
  position: relative;  
}
.section-container-ext{
  padding-bottom: 4px;
  min-height: 18px;
}
.button-section-toc-expand-contract-wrapper-ext{
  margin-right: 4px;
}
.button-link-generic-right-float-filler{
  display:block;
  float:right;
  width:60px;
  position:relative;
}
.page-header{
  display: inline-block;
  padding: 16px;
  padding-left: 8px;
  padding-bottom: 8px;  
  font-size: 16pt;
  text-align: left;
  position: relative;
}
.page-header-wrapper{
  display: block;
  width: 100%;
  text-align: left;
  align-content: left;  
  position: relative;
}
.toc-category-wrapper{
  display: block;
  position: relative;
}
.bullet-group{
  margin: 0px;
}

/* #region screen size compensation */
@media (max-height: 434px){
  .body-wrapper{
    height: 416px;
  }
}
/* #endregion screen size compensation */


