.section-category-text a, .section-category-text a:link, .section-category-text a:visited{
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 17px;
  line-height: 36px;
  background-position: 2px 6px;
}
.section-category-text a:hover{  
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 17px;
  line-height: 36px;
  background-position: 2px 6px;
}