.support-logo-guru-assist{  
  background-image: url("/Assets/Themes/IOport/Images/Logo-Support-Guru-Assist.svg");
  background-position: center;
  background-size: 200px;
  background-repeat: no-repeat;
  width: 200px;
  height: 149px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 6px;
  position: relative;  
}
.section-container-ext{
  padding-bottom: 4px;
  min-height: 18px;
}
.button-section-toc-expand-contract-wrapper-ext{
  margin-right: 4px;
}
.button-link-generic-right-float-filler{
  display:block;
  float:right;
  width:60px;
  position:relative;
}
.page-header{
  display: inline-block;
  padding: 16px;
  padding-left: 8px;
  padding-bottom: 8px;  
  font-size: 16pt;
  text-align: left;
  position: relative;
}
.page-header-wrapper{
  display: block;
  width: 100%;
  text-align: left;
  align-content: left;  
  position: relative;
}
.toc-category-wrapper{
  display: block;
  position: relative;
}
.bullet-group{
  margin: 0px;
}
.anchor-feature-request{
  top: -100px;
  position: absolute;
}
/* #region screen size compensation */
@media (max-height: 434px){
  .body-wrapper{
    height: 416px;
  }
}
/* #endregion screen size compensation */
.scraptcha-container-placeholder{
  position: relative;
  z-index: -1;
  display: none;
}
.scraptcha-spacer-4{    
  margin: 4px;
  height: 1px;
}
.scraptcha-spacer-6{    
  margin: 6px;
  height: 1px;
}
.scraptcha-spacer-7{    
  margin: 7px;
  height: 1px;
}
.scraptcha-container{ 
  display: inline-block;
  height: 91px;
  position: relative;
  visibility: visible;
}
.scraptcha-code-table{ 
  display: table;     
  margin: auto;  
  padding-top: 12px;
  align-self: center;     
  position: relative;
}
.scraptch-code-row{    
  display: table-row;
}
.scraptcha-code-cell{    
  display: table-cell;        
}

.scraptcha-form-container {
  text-align: center;
  max-width: 200px;
  width: 100%;
  margin: auto;
  z-index: -1;
  position: relative;
}
.scraptcha-submit-reply{
  border: 1px dashed #5aaf46;
  font-family: Arial, Helvetica, sans-serif;    
  color: #5aaf46;
  width: 100%;
  height: 45px;
  left: 10px;    
  padding-top: 24px;    
  text-align: center;
  position: relative;
}