
/* #region top menu center hanging bar */
.top-menu-bar-tab-hanging-pulldown-menu-wrapper{
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  left: 4px;
  position: absolute;
}
.top-menu-bar-tab-hanging-pulldown-menu{
  display: none;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid var(--color-dark-grey);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #f0f0f0;
  color: var(--color-dark-grey);
  margin-right: 4px;
  width: 38px;
  padding-top: 1px;
  padding-bottom: 7px;   
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  z-index: 1;
}
.top-menu-bar-tab-hanging-pulldown-menu:hover{
  background: white;
  background-repeat: no-repeat;
  cursor: pointer;
}
.top-menu-bar-hanging-condensed-tab{
  border: 1px solid var(--color-dark-grey);
  display: none;
  border-left: none;
  border-bottom-right-radius: 4px;
  background-color: var(--color-off-white-blue);
  color: var(--color-dark-grey);
  min-width: 50px;
  max-width: 300px;
  height: 16px;
  left: -4px;
  padding-top: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;  
  text-align: center;
  letter-spacing: 1px;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  position: relative;  
  visibility: hidden;
}
.top-menu-bar-center-hanging{  
  display: grid;
  grid-template-columns: auto 100px auto;
  margin: auto;
  z-index: 1;
}
.top-menu-bar-center-hanging-container-left{  
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: flex-start;
  top: -8px;
  height: 44px;
  padding-left: 8px;
  margin: auto;
  min-width: 0px;
  max-width: 300px;
  position: relative;
}

.top-menu-bar-center-hanging-container-middle{
  border: 1px solid pink;
}
/* #endregion top menu center hanging bar */

/* #region top menu bar */
.top-menu-bar{
  height: 44px;
  width: 100%;
  min-width: 280px;
  z-index: 1;
}
.top-menu-bar-container{
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  top: 1px;
  height: 44px;
  margin: auto;
  padding-left: 12px;
  padding-right: 8px;
  min-width: 0px;
  max-width: 600px;
  position: relative;
}
.top-menu-bar-condensed-tab{
  border: 1px solid var(--color-dark-grey);
  border-left: none;
  border-top-right-radius: 4px;
  background-color: var(--color-off-white-blue);
  color: var(--color-dark-grey);
  min-width: 50px;
  max-width: 300px;
  height: 16px;
  padding-top: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  left: -4px;
  text-align: center;
  letter-spacing: 1px;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  position: relative;
  display: none;
  visibility: hidden;
}
.top-menu-bar-tab-wrapper{
  border-radius: 4px;
  padding-top: 0px;
  box-shadow: none;
  position: relative;
}
.top-menu-bar-tab-wrapper-active{
  top: 1px;
  background-image: linear-gradient(to right, var(--color-mid-blue-grey), var(--color-highlight-blue), var(--color-highlight-blue), var(--color-mid-blue-grey) );
  padding-top: 3px;
  box-shadow: 0px 0px 1px 1px var(--color-mid-blue-grey);
}
.top-menu-bar-tab-wrapper-active-purple{
  top: 1px;
  background-image: linear-gradient(to right, var(--color-mid-blue-grey), var(--color-highlight-purple), var(--color-highlight-purple), var(--color-mid-blue-grey) );
  padding-top: 3px;
  box-shadow: 0px 0px 1px 1px var(--color-mid-blue-grey);
}
.top-menu-bar-tab-filler{
  box-shadow: 0px 1px 0px 1px var(--color-off-white);
  margin-top: 9px;
  margin-left: 0px;
  margin-right: 0px;
  height: 2px;
  top: 1px;
  width: 100%;
  left: 0px;
  background: none;
  position: relative;
  visibility: hidden;
}
.top-menu-bar-tab-filler-active{
  background: var(--color-off-white);
  visibility: visible;
}
.top-menu-bar-tab-left{
  border: 1px solid var(--color-mid-blue-grey);
  box-shadow: -1px 0px 1px 0px var(--color-mid-blue-grey);
  border-bottom: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: white;
  top: -1px;
  min-width: 30px;
  max-width: 200px;
  height: 24px;
  padding-top: 8px;
  text-align: center;
  letter-spacing: 1px;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  position: relative;
}
.top-menu-bar-tab-left:hover{
  background: var(--color-ultralight-green);
  background-repeat: no-repeat;
  height: 28px;
  cursor: pointer;
}
.top-menu-bar-tab-left-purple{
  border: 1px solid var(--color-mid-blue-grey);
  box-shadow: -1px 0px 1px 0px var(--color-mid-blue-grey);
  border-bottom: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: var(--color-light-purple);
  color: var(--color-mid-dark-purple);
  top: -1px;
  min-width: 30px;
  max-width: 200px;
  height: 24px;
  padding-top: 8px;
  text-align: center;
  letter-spacing: 1px;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  position: relative;
}
.top-menu-bar-tab-left-purple:hover{
  background: var(--color-mid-purple);
  background-repeat: no-repeat;
  color: white; 
  height: 28px;
  cursor: pointer;
}
.top-menu-bar-tab-active{
  background: var(--color-off-white);
  background-repeat: no-repeat;
  height: 28px;
  top: -1px;
  border-bottom: none;
}
.top-menu-bar-tab-active:hover{
  background: var(--color-off-white);
  background-repeat: no-repeat;
  cursor: default;
}


.top-menu-bar-tab-pulldown-menu{
  display: none;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid var(--color-dark-grey);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #f0f0f0;
  color: var(--color-dark-grey);
  margin-right: 4px;
  width: 38px;
  padding-top: 1px;
  padding-bottom: 7px;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.top-menu-bar-tab-pulldown-menu:hover{
  background: white;
  background-repeat: no-repeat;
  cursor: pointer;
}
.pulldown-div-line{
  padding-top: 7px;
  margin-left: 8px;
  margin-right: 8px;
  border-bottom: 1px solid var(--color-dark-grey);
  position: relative;
}
.top-menu-bar-right-container{
  width: 150px;
  right: 8px;
  position: absolute;
}
.top-menu-bar-login{
  top: 4px;
  color: var(--color-off-white);
  height: 30px;
  float: right;
  text-align: right;
  position: relative;
}
.link-member-name{
  color: var(--color-off-white);
  float: right;
  position: relative;
}
.link-member-name:link{
  color: var(--color-off-white);
}
.link-member-name:visited{
  color: var(--color-off-white);
}
/* #endregion top menu bar */

/* #region flyout menu */
.flyout-panel{
  display: inline-block;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 100;
  visibility: hidden;
}
.flyout-menu-wrapper{
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-dark-grey);
  background-color: var(--color-off-white-blue);
  top: 0px;
  left: 0px;
  height: 100vh;
  position: absolute;
  z-index: 101;
}
.flyout-menu-button{
  border-bottom: 1px solid var(--color-dark-grey);
  padding: 16px;
  padding-left: 32px;
  padding-right: 32px;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  position: relative;
}
.flyout-menu-button:hover{
  background-color: white;
  cursor: pointer;
}
.flyout-menu-button-purple{
  border-bottom: 1px solid var(--color-dark-grey);
  color: var(--color-mid-dark-purple);
  padding: 16px;
  padding-left: 32px;
  padding-right: 32px;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  position: relative;
}
.flyout-menu-button-purple:hover{
  border-bottom: 1px solid var(--color-dark-grey);
  color: var(--color-mid-dark-purple);
  padding: 16px;
  padding-left: 32px;
  padding-right: 32px;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  position: relative;
}
.flyout-menu-button-active{
  background-color: var(--color-off-white);
  cursor: pointer;
}
.flyout-menu-button-active:hover{
  background-color: var(--color-off-white);
  cursor: pointer;
}
.flyout-menu-button-active-purple{
  background-color: var(--color-mid-dark-purple);
  color: white;
  cursor: pointer;
}
.flyout-menu-button-active-purple:hover{
  background-color: var(--color-mid-dark-purple);
  color: white;
  cursor: pointer;
}
.flyout-menu-empty-button{
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 100;
}
/* #endregion */

/* #region screen size compensation */
@media all and (max-width: 350px){    
  .top-menu-bar-tab-wrapper{
    display: none;
  }
  .top-menu-bar-tab-pulldown-menu{
    display: inline-flex;
  }
  .top-menu-bar-condensed-tab{
    display: inline-block;
  }
  
}
/* #endregion screen size compensation */
